* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

:root {
  --main-color: #fdd100;
  --title-size: 50px;
}


html {
  scroll-behavior: smooth;
  /* -ms-overflow-style: none; 인터넷 익스플로러 */
  /* scrollbar-width: none; 파이어폭스 */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

.notice-container {
  height: 100%;
  background-image: url("./img/4_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.notice-main img {
  width: 100%;
  height: 100%;
}

/* header start */
/* dropdown */
/* header end */
.dropbtn {
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: var(--main-color);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: -15px;
  background-color: #00000f;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-first {
  color: #fff;
}

.drop-sec {
  min-width: 160px;
}

.dropdown-content a:hover {
  background-color: #fdd100;
  transition: 0.3s;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* language btn */


.header {
  position: fixed;
  background-color: #fff;
  z-index: 9998;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: none;
  padding: 15px 30px 15px 30px;
  align-items: center;
  /* backdrop-filter: blur(10px) !important; */
}

.header img {
  width: 75px;
}

.header .category {
  display: flex;
}

.header .category li {
  margin-right: 30px;
  margin-left: 30px;
}

.header .category button {
  margin-right: 20px;
  margin-left: 20px;
}

.header .category li a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.header .category li a:hover {
  border-bottom: 2px solid #ffd100;
  padding-bottom: 10px;
  transition: 0.2s;
}


.notice-header {
  height: 500px;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  font-weight: 400;
}

@media (max-width: 1500px) {
  .notice-header {
    font-size: 60px;
    height: 300px;
  }
}
@media (max-width: 800px) {
  .notice-header {
    font-size: 50px;
    height: 250px;
  }
}
@media (max-width: 480px) {
  .notice-header {
    font-size: 30px;
    height: 200px;
  }
}
@media (max-width: 375px) {
  .notice-header {
    height: 150px;
  }
}
.notice-box {
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

.notice-main {
  height: 100%;
  width: 90%;
  margin-left: 5%;
  background-color: rgba(0, 0, 0, 0.466);
  display: flex;
  flex-direction: column;
}

.notice-list-box {
  min-height: 70%;
  padding-top: 100px;
}

@media (min-width: 2500px) {
  .notice-list-box {
    height: 70%;
    padding: 100px 200px 0 200px;
  }
}
@media (max-width: 1500px) {
  .notice-main {
    width: 90%;
    margin-left: 5%;
  }
}
@media (max-width: 1100px) {
  .notice-main {
    width: 100%;
    margin: 0px;
  }
}
@media (max-width: 800px) {
  .notice-main {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
  }
  .notice-list-box {
    height: 70%;
  }
}
.notice-list {
  border: 1px solid white;
  border-left: none;
  border-right: none;
  border-top: none;
}

.notice-info {
  border: 1px solid white;
  border-left: none;
  border-right: none;
  border-top: 2px solid;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  width: 100%;
}
.notice-info .list-num {
  width: 5%;
}
.notice-info .list-title {
  width: 65%;
  text-align: left;
  padding-left: 3%;
}

.notice-test {
  width: 100%;
  border: 0.5px solid gray;
  border-left: none;
  border-right: none;
  border-top: none;
  min-height: 75px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.notice-test .notice-num {
  width: 5%;
}
.notice-test .text {
  width: 65%;
  font-size: 20px;
  text-align: left;
  padding-left: 3%;
}
.notice-test .text:hover {
  color: #fdd100;
  text-decoration: underline;
}

.list-item {
  display: flex;
  align-items: center;
  width: 35%;
}
.list-item p {
  width: 33%;
}
.list-item div {
  width: 33%;
}
.list-item div p {
  width: 100%;
}

.answer {
  background-color: gray;
}

.cc {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cc p {
  width: 33%;
}
.cc .answer-box {
  width: 33%;
  display: flex;
  justify-content: center;
  height: 50%;
}
.cc .answer {
  width: 120px;
  height: 100%;
  padding-top: 6px;
}

@media (max-width: 1100px) {
  .answer-box .answer {
    width: 80px;
  }
}
@media (max-width: 800px) {
  .notice-list-box {
    padding-top: 50px;
  }
  .notice-info {
    display: none;
  }
  .notice-num {
    display: none;
  }
  .notice-test {
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    min-height: 80px;
  }
  .notice-test .text {
    padding-left: 15px;
    font-size: 18px;
    width: 100%;
    height: 50%;
  }
  .cc {
    width: 100%;
    justify-content: flex-start;
    padding-bottom: 5px;
  }
  .cc .list-name, .cc .list-date, .cc .answer-box {
    width: auto;
    margin-right: 10px;
  }
  .cc .list-name {
    margin-left: 15px;
  }
  .answer-box .answer {
    width: auto;
    padding: 0px 10px 0px 10px;
  }
  .text {
    width: 100%;
    height: 50%;
    padding-top: 10px;
  }
  .answer {
    padding-top: 0px;
  }
  .notice-list {
    border: 2px solid white;
    border-left: none;
    border-right: none;
  }
  .notice-write {
    padding-bottom: 50px;
  }
}
@media (min-width: 2560px) {
  .notice-test {
    font-size: 22px;
    height: 70px;
  }
}
@media (max-width: 1800px) {
  .answer-box .answer {
    height: 35px;
    padding-top: 4px;
  }
}
@media (min-width: 1800px) {
  .notice-test {
    font-size: 16px;
    height: 60px;
  }
}
@media (max-width: 500px) {
  .answer-box .answer {
    height: 25px;
    padding-top: 0px;
  }
  .notice-search {
    margin-bottom: 70px;
  }
}
@media (max-width: 375px) {
  .notice-test .text {
    font-size: 16px;
  }
  .cc .list-name, .cc .list-date {
    font-size: 15px;
  }
}
.true {
  background-color: #fdd100;
  color: black;
}

.notice-write {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-top: 30px;
  border: none;
}

.notice-paging {
  display: flex;
  justify-content: center;
  height: 7%;
}

.article {
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  list-style: none;
}

.content__id,
.content__author,
.content__date {
  flex-basis: 15%;
}

.content__title {
  flex: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.buttons {
  position: relative;
  padding: 1rem 0;
  display: inline-flex;
  justify-content: center;
}

.button {
  height: 50px;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: white;
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  border: 1px solid gray;
  margin: 2px;
}

.button.active {
  border: 1px solid #fdd100;
  background-color: #fdd100;
  color: black;
  font-weight: 600;
  text-decoration: underline;
}

.button:hover {
  border: 1px solid #fdd100;
}

ion-icon {
  padding-top: 0.05rem;
}

button {
  cursor: pointer;
}

.notice-search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 150px;
}
.notice-search * {
  box-sizing: border-box;
}
.notice-search select {
  width: 150px;
  height: 45px;
  margin-right: 15px;
  background-color: black;
  color: white;
  outline: none;
  border: 1px solid gray;
}
.notice-search .select-container {
  width: 150px;
  height: 45px;
  margin-right: 15px;
  background-color: black;
  color: white;
}
.notice-search .sel-main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  cursor: pointer;
}
.notice-search .sel-main i {
  margin-left: auto;
}
.notice-search .sel-box {
  width: 100%;
  height: 100px;
  border: 1px solid gray;
  border-top: none;
  display: none;
}
.notice-search .sel-box p:hover {
  background-color: #fdd100;
  color: black;
  cursor: pointer;
}
.notice-search .sel-box p {
  height: 50%;
  vertical-align: middle;
  padding-left: 5px;
  padding-top: 12px;
}
.notice-search .search-box {
  display: flex;
  width: 100%;
  justify-content: center;
}
.notice-search .search {
  width: 300px;
  height: 45px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.notice-search input:focus {
  outline: none;
}
.notice-search input {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
  padding-right: 10px;
}
.notice-search i {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  height: 100%;
  padding-right: 5px;
}

@media (max-width: 800px) {
  .notice-search {
    margin-bottom: 70px;
  }
  .answer-box .answer {
    height: 25px;
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .select-container {
    width: 120px;
  }
  .notice-search {
    margin-bottom: 70px;
  }
  .notice-search .search {
    width: 230px;
  }
  .notice-search .select-container {
    width: 100px;
  }
}
@media (max-width: 375px) {
  .notice-search {
    margin-bottom: 70px;
  }
  .notice-search .search {
    width: 200px;
  }
  .notice-search .select-container {
    width: 80px;
  }
}
@media (max-width: 280px) {
  .notice-search {
    margin-bottom: 70px;
  }
  .notice-search .search {
    width: 180px;
  }
  .notice-search .select-container {
    width: 70px;
  }
}
/* footer start */
footer {
  background-color: #2e2e2e;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../조인피플img/footer_logo_big.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 35px;
}

.footer-container h2 {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}

.footer-container h2 img {
  width: 65px;
}

.footer-container p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}

.footer-container span {
  align-items: center;
  display: flex;
  margin-left: 20px;
}

.copyright {
  text-align: center;
}

.copyright p {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* footer end *//*# sourceMappingURL=notice.css.map */