* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;

}


.news-container {
    min-height: 75%;
    background-image: url('../QnA/img/5_bg.png');
    background-size: cover;
}

.news-main img {
    width: 100%;
    height: 100%;
}




/* header start */

/* dropdown */

// .dropbtn {
//     background: none;
//     color: white;
//     font-size: 20px;
//     border: none;
//     cursor: pointer;
//     color: var(--main-color);
// }

// .dropdown {
//     position: relative;
//     display: inline-block;
// }

// .dropdown-content {
//     display: none;
//     position: absolute;
//     right: -15px;
//     background-color: #0000008f;
//     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//     z-index: 1;
// }

// .dropdown-content a {
//     color: white;
//     padding: 12px 16px;
//     text-decoration: none;
//     display: block;
//     text-align: center;
// }

// .drop-first {
//     color: #fff;
//     height: 100%;
//     font-size: 45px;
// }

// .drop-sec {
//     min-width: 160px;
// }

// .dropdown-content a:hover {
//     background-color: #fdd100;
//     transition: 0.3s;
//     color: black;
// }

// .dropdown:hover .dropdown-content {
//     display: block;
// }

// /* language btn */


// .header {
//     // position: fixed;
//     background-color: #fff;
//     // z-index: 9999;
//     display: flex;
//     justify-content: space-between;
//     height: 25vh;
//     background: none;
//     padding: 15px 30px 15px 30px;
//     align-items: center;
// }

// .header img {
//     width: 130px;
// }

// .header .category {
//     display: flex;
// }

// .header .category li {
//     margin-right: 30px;
//     margin-left: 30px;
// }

// .header .category button {
//     margin-right: 20px;
//     margin-left: 20px;
// }

// .header .category li a {
//     color: #fff;
//     font-size: 45px;
//     font-weight: 500;
// }



/* header end */

.header {
    height: 180px;
    display: flex;
}

.header-img {
    width: 130px;
    margin-left: 50px;

    img {
        padding: 10px;
        width: 100%;
        height: 100%;
    }
}

.header-content {
    margin-left: auto;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item {
    width: 18%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.company {
    margin-right: 35px;
}

.business {
    margin-right: 10px;
}

.business:hover .business-drop {
    display: flex;
}

.business-drop {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 15px;
}

.business-drop p {
    width: 100%;
    height: 50px;
    padding-top: 10px;

}

.language {
    width: 10%;
}

.nav-item span:hover {
    border-bottom: 2px solid #fdd100;
    cursor: pointer;
}

.m-nav {
    display: none;
    align-items: center;
    margin-left: auto;
    margin-right: 25px;
}

.m-nav i {
    color: white;
    font-size: 35px;
}

@media(max-width:1300px) {
    .header {
        height: 150px;
    }

    .header-img {
        width: 110px;
    }

    .header-content {
        width: 60%;
    }

    .nav-item {
        font-size: 20px;
    }
}

@media(min-width:2500px) {
    .header-content {
        width: 40%;
    }
}

@media(max-width:800px) {
    .header {
        height: 130px;
    }

    .header-img {
        width: 90px;
        margin-left: 15px;
    }

    .header-content {
        display: none;
    }

    .m-nav {
        display: flex;
    }
}




// Q&A 문의사항
.news-header {
    // height: 40vh;
    height: 500px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-weight: 350;
}




// 게시판 박스
.news-box {
    height: 100%;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

.news-main {

    background-color: black;
    display: flex;
    flex-direction: column;

}

.post-box {

    margin: 150px 15% 400px 15%;
    // border-bottom: 3px solid #fdd100;
}

.news-item {
    // border: 1px solid blue;
    cursor: pointer;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 25px;
    border-bottom: 3px solid #fdd100;


}

.news-item:hover {
    background-color: #fdd100;

    color: black;
}

.news-title {
    font-weight: bold;
    margin-left: 10px;
    max-width: 70%;
}

.news-date {
    margin-left: auto;
    font-weight: bold;
    margin-right: 10px;
    color: grey;
}

@media(max-width: 2500px) {
    .news-main {
        width: 90%;
        margin-left: 5%;
    }

    .post-box {
        margin: 150px 8% 400px 8%;
    }
}

@media(max-width: 1500px) {
    .news-item {
        font-size: 20px;
    }

    .news-header {
        font-size: 60px;
        height: 300px;
    }

    .post-box {
        margin: 100px 8% 400px 8%;
    }
}

@media(max-width: 1200px) {
    .news-item {
        height: 110px;
    }
}

@media (max-width: 800px) {
    .news-main {
        height: 100%;
        width: 100%;
        margin: 0;
        background-color: black;
        display: flex;
        flex-direction: column;

    }

    .news-item {
        font-size: 20px;
    }

    .news-header {
        font-size: 50px;
        height: 250px;
    }

    .post-box {
        margin: 50px 8% 300px 8%;
    }
}

@media(max-width:480px) {
    .news-item {
        font-size: 12px;
        height: 100px;
    }

    .news-header {
        font-size: 30px;
        height: 200px;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateZ(0);
    }
}


// 관리자 글쓰기
#admin-write {
    background-color: #fdd100;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

/* footer start */

footer {
    background-color: #2e2e2e;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../조인피플img/footer_logo_big.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
}

.footer-container h2 {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

.footer-container h2 img {
    width: 65px;
}

.footer-container p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    margin-top: 15px;
    margin-left: 15px;
}

.footer-container span {
    align-items: center;
    display: flex;
    margin-left: 20px;
}

.copyright {
    text-align: center;
}

.copyright p {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* footer end */


.circle-box {
    /* display: none; */
    opacity: 0;
    pointer-events: none;
}

.mouse {
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}

.mouse p {
    text-align: center;
    color: white;
    opacity: 1;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 41%;
}

@media(max-width:1200px) {
    .mouse {
        width: 170px;
        height: 170px;
    }
    .mouse p {
        font-size: 24px;
    }
}


.news-item:hover .circle-box {
    opacity: 1;
    transition: 1.5s;
    height: 700px;
}

/*# sourceMappingURL=news.css.map */